<h3><%= @heading %></h3>
<p> </p>
<%= form_for :deposit, url: deposits_path do |f| %>
  <% if @deposit.errors.any? %>
    <% @deposit.errors.full_messages.each do |msg| %>
      <div class="alert alert-danger"><%= msg %></div>
    <% end %>
    <% @user = User.order(:surname).all %>
  <% end %>
  <p>
    <% fio_array = @user.map { |user| [user.surname + ' ' + user.name + ' ' + user.secondname, user.surname + ' ' + user.name + ' ' + user.secondname] } %>
    <%= f.select(:depositUser, fio_array, {:class => 'form-control'}) %>
  </p>
  <p>
    Тип депозита<br>
    <%= f.select(:typeOfDeposit, raw('<option value="Отзывной">Отзывной</option>
        <option value="Безотзывной">Безотзывной</option>
      '), {:class => 'form-control'}) %>
  </p>
  <p>
    Валюта<br>
    <%= f.select(:typeOfCurrency, raw('<option value="BYN">Белорусский рубль BYN</option>
        <option value="RUB">Русский рубль RUB</option>
        <option value="USD">Доллар $</option>
        <option value="EUR">Евро €</option>
      '), {:class => 'form-control'}) %>
  </p>
  <p>
    Сумма депозита<br>
    <%= f.text_field(:sumOfDeposit, {:class => 'form-control'}) %>
  </p>
  <p>
    Процент по депозиту<br>
    <%= f.text_field(:percent, {:class => 'form-control'}) %>
  </p>
  <%= f.check_box(:percentSum, {:class => 'd-none'}) %>
  <p>
    <%= f.submit({:class => 'btn btn-success'}) %>
  </p>
<% end %>
