<h3>Номер карточки: <%= @card.number %></h3>
<h3>Сумма на счёте: <%= @card.money %></h3>
<% if params[:message].present? %>
  <h3><%=params[:message] %></h3>
<%end %>
<%= form_for :card, url: atm_path, method: :patch do |f| %>
    <h3>Снятие средств</h3>
    <p>
      <%= f.text_field(:money, {:class => 'form-control', value: 0 }) %>
    </p>
    <p>
      <%= f.submit("Снять деньги",{:class => 'btn btn-success'}) %>
    </p>
<% end %>

<%= form_for :card, url: atm_path, method: :patch do |f| %>
    <h3>Положить деньги на телефон</h3>
    <p>
      Tелефон<br>
      <input></input>
    </p>
    <p>
      Сумма<br>
      <%= f.text_field(:money, {:class => 'form-control', value: 0}) %>
    </p>
    <p>
      <%= f.submit("Положить на счет", {:class => 'btn btn-success'}) %>
    </p>
<% end %>
<%= link_to 'Выйти со счета', atm_path(@card),
            method: :delete,
            data: {confirm: 'Вы уверены?'},
            :class => 'btn btn-danger' %>
<hr>