<!DOCTYPE html>
<html>
<head>
  <title>Банковская система</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-bold">Учет пользователей банка</h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <span class="p-2 text-dark"><%= link_to 'Клиенты', home_path %></span>
    <span class="p-2 text-dark"><%= link_to 'Депозиты', deposits_path %></span>
    <span class="p-2 text-dark"><%= link_to 'Кредиты', credits_path %></span>
  </nav>
  <span class="p-2 text-dark" ><%= link_to 'Добавить пользователя', new_user_path %></span>
  <span class="p-2 text-dark" ><%= link_to 'Создать депозит', new_deposit_path %></span>
  <span class="p-2 text-dark" ><%= link_to 'Создать кредит', new_credit_path %></span>
  <span class="p-2 text-dark" ><%= link_to 'Закрытие банковского дня', about_path, data: {confirm: 'Вы уверены?'} %></span>
</div>

<div class="container"
<%= yield %>
</div>
</body>
</html>