<!DOCTYPE html>
<html>
  <head>
    <title>Банк</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class=" flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm" style="background-color:lightgrey" style="font-size:30px">
  
        <span class="p-2 text-dark" style="font-size:30px" ><%= link_to 'Клиенты', home_path %></span>
        <span class="p-2 text-dark" style="font-size:30px"><%= link_to 'Депозиты', deposits_path %></span>
        <span class="p-2 text-dark" style="font-size:30px"><%= link_to 'Кредиты', credits_path %></span>
     
      
    </div>
    <div>
    <p>
    <span class="p-2 text-dark" style="font-size:20px"><%= link_to 'Добавить пользователя', new_user_path %></span><p>
    <span class="p-2 text-dark" style="font-size:20px"><%= link_to 'Создать депозит', new_deposit_path %></span><p>
    <span class="p-2 text-dark" style="font-size:20px"><%= link_to 'Создать кредит', new_credit_path %></span><p>
    <span class="p-2 text-dark" style="font-size:20px"><%= link_to 'Закрытие банковского дня', about_path, data: {confirm: 'Вы уверены?'} %></span>
    </div>

    <div style="background-color:lightgrey"
      <%= yield %>
    </div>
  </body>
</html>
